body {
  background-color: #37474f;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
}
